<header id="player-header">
    <span class="barrier">第<%=barrier%>关</span>
    <span class="time-cons">计时：<em class="seconds"><%=seconds%></em>秒</span>
</header>
<article id="player"></article>
<footer id="player-footer">
    this is a picture
</footer>

